# Ignore model and ML files
*.h5
*.pkl

# Ignore vectorizer and tokenizer
tokenizer.pkl
tfidf_vectorizer.pkl

# Ignore dataset or upload folders if large
Dataset/
uploads/

# Ignore virtual environments
venv/

# Ignore Python cache
__pycache__/
*.pyc
