# Ignore all model and vectorizer files
*.h5
*.pkl

# Ignore dataset and uploads
project/Dataset/
project/uploads/

# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

/models/

